@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}
.App{
  padding: 2% 8%;
}

/*NAVBAR STYLES*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8%;
  background-color: aliceblue;
  position: relative;
}
.logo{
  font-size: 2rem;
  margin: 0.5rem 0;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
ul{
  display: flex;
}
ul li{
  list-style: none;
}
ul li a{
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: black;
  font-size: 18px;
  border-radius: 0.5rem;
}
ul li a:hover{
  background-color: rgb(45, 120, 182);
}

.menu-icon{
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  flex-direction: column;
  width: 2.5rem;
  height: 2rem;
  display: none;
}
.menu-icon span{
  height: 0.4rem;
  width: 100%;
  background-color: black;
  border-radius: 0.2rem;
}

/*HERO STYLES*/
#Home{
 display: flex;
 margin: 3rem 0;
}
.Home-title{
  padding: 2%;
}
.Home-title h1{
  font-size: 6rem;
  font-weight: bold;
  line-height: 1;
}
.Home-title p{
  font-size: 20px;
  color: grey;
}
.Home-title button{
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  background-color: rgb(45, 120, 182);
}

/*ABOUT STYLES*/
#About{
  margin: 3rem 0;
  padding: 2% 0;
}
.Mission{
  display: flex;
}
.mission-statement{
  padding: 2%;
}
.mission-statement h1{
  font-size: 3rem;
}
.mission-statement p{
  font-size: 20px;
  color: grey;
}
.Our-team{
  margin: 2rem;
}
.Our-team-container{
  display: flex;
  margin: 2rem 0;
}
.Our-team-sub-C{
  display: flex;
}
.Our-team-sub-C img{
  width: 250px;
  border-radius: 10px;
}
.Our-team-sub-C div{
  padding: 0 10px;
  margin-left: 15px;
}


/*SERVICES STYLES*/
#Services{
  margin: 2rem 0;
}
.services-header{
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.services-header button{
  background-color: rgb(45, 120, 182);
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
}
.services-offered{
  display: flex;
  justify-content: center;
}
.card{
  width: 350px;
  margin: 0 10px;
}
.card .content h2{
  margin: 10px 0;
}
.card .content p{
  margin: 10px 0;
  font-size: 20px;
  color: grey;
}
.card .content a{
  color: rgb(8, 92, 8);
  text-decoration: none;
}
.Line-container {
  text-align: center;
  overflow: hidden;
  margin: 60px 0;
}
.text {
  background-color: #fff;
  padding: 0 20px;
}
.line {
  border-top: 1px solid #000;
}
.benefits-container{
  display: flex;
  justify-content: space-between;
}
.benefits-img{
  width: 20rem;
  border-radius: 10px;
}

/*CONTACT STYLES*/
.contact-container{
  display: flex;
}

.contact-Sub-container-1{
  flex: 1;
  padding: 1%;
}
.contact-Sub-container-2{
  flex: 1;
  background-color: aliceblue;
  text-align: center;
  padding: 45px 5px ;
}
.contact-Sub-container-2 button{
  background-color: rgb(45, 120, 182) ;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  width: 80%;
  cursor: pointer;
}
.contact-Sub-container-2 button:hover{
  background-color: rgb(0, 128, 107);
}

/*REVIEWS STYLES*/
#Reviews{
  margin: 2rem 0;
}
.testimonials-container{
  display: flex;
}
.testimonials-container div{
  padding: 10px;
  margin: 20px 0;
}


/*SUBSCRIBTION STYLES*/
#subscribe{
  padding: 20px 0;
  background-color: aliceblue;
  text-align: center;
  margin-top: 2rem 0;
}
.subscribe-container{
  margin: 3rem 0;
}
.subscribe-container h1{
  font-size: 3rem;
}
.subscribe-container input{
  width: 45%;
  height: 18px;
  padding: 1%;
  font-size: 20px;
}
.subscribe-container button{
  background-color: rgb(45, 120, 182) ;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
}


@media (max-width:600px) {
    nav{
      flex-direction: column;
      align-items: start;
    }
    .menu-icon{
      display: flex;
      justify-content: space-between;
    }
    .open{
      flex-direction: column;
      width: 100%;
      text-align: center;
      line-height: 1.5;
      max-height: 0;
      overflow: hidden;
      transition: 1s all cubic-bezier(0,1,0,1)
    }
    .open.show{
      height: auto;
      max-height: 999px;
      transition: 2s all ease;
    }

    /*HELP STYLES*/
    #Home{
      flex-direction: column;
    }
    .Home-title{
      padding: 2%;
    }
    .Home-title h1{
      font-size: 3rem;
    }
    .Home-img-con img{
      width: 100%;
    }

    /*ABOUT STYLES*/
    .Mission{
      display: flex;
      flex-direction: column;
    }
    .Mission img{
      width: 100%;
    }
    .Our-team-container{
      flex-direction: column;
    }
    .Our-team-sub-C{
      flex-direction: column;
    }

    /*SERVICES STYLES*/
    .services-header{
      flex-direction: column;
    }
    .services-offered{
      flex-direction: column;
      align-items: center;
    }
    .card{
      width: 350px;
      margin: 10px 0;
    }
    .benefits-container{
      flex-direction: column;
    }
    .benefits-img{
      width: 100%;
    }

    /*CONTACT STYLES*/
    .contact-container{
      flex-direction: column;
    }

    /*REVIEWS STYLES*/
    .testimonials-container{
      flex-direction: column;
    }
}

@media (min-width:756px) {
    /*HERO STYLES*/
    #Home{
      display: flex;
      flex-direction: column;
     }
    .Home-title h1{
      font-size: 4rem;
      font-weight: bold;
      line-height: 1;
    }
    .Home-img-con img{
      width: 90%;
      margin: 2rem 0;
    }

    
    /*ABOUT STYLES*/
    .Mission{
      display: flex;
      flex-direction: column-reverse;
    }
    .Mission img{
      width: 90%;
    }
    .Our-team-container{
      flex-direction: column;
    }
    .Our-team-sub-C{
      flex-direction: column;
    }

    /*SERVICES STYLES*/
    .services-offered{
      flex-wrap: wrap;
      flex-direction: row;
    }
    .benefits-container{
      flex-wrap: wrap;
    }
}

@media (min-width:1200px) {
  /*HERO STYLES*/
  #Home{
    display: flex;
    flex-direction: row;
  }
  .Home-img-con img{
    width: 30rem;
  }

  /*ABOUT STYLES*/
  .Mission{
    flex-direction: row;
  }
  .Mission img{
    width: 30rem;
  }
  .Our-team-container{
    flex-direction: row;
  }
  .Our-team-sub-C{
    flex-direction: row;
  }

  
}

@media (min-width:1400px) {
  .App{
    padding: 0 15%;
  }
  /*SUBSCRIBTION STYLES*/
  #subscribe{
    padding: 20px 0;
    background-color: aliceblue;
    text-align: center;
    margin-top: 4rem;
  }

}